@font-face {
    font-family: "Oswald";
    src: url(Oswald.woff2);
}
@font-face {
    font-family: "XTypewriter";
    src: url(XTypewriter.woff2);
}
@font-face {
    font-family: "JetBrains";
    src: url(JetBrainsMonoNL-ExtraBoldItalic.woff2);
}

html {
    scroll-padding-top: 5vw;
    scroll-behavior: smooth;
}
body{
    background-color: #f9f5e9;
    font-family: "XTypewriter";
}

.topnav {
    font-family: "Oswald";
    background-color: #333;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    margin-left: -8px;
    z-index: 999;
}
.topnavright a{
    float: left;
}
.topnavleft a{
    float: right;
    display: none;
}
.topnav a {
    color: #f2f2f2;
    text-align: center;
    padding: 0.6vw 0.8vw;
    text-decoration: none;
    font-size: 2.25vw;
}
.topnav a:hover {
    background-color: #ddd;
    color: black;
}
.topnav a.active {
    background-color: #04AA6D;
    color: white;
}

h1{
    background: linear-gradient(to right, darkred, darkred, darkred, #CC0000, #DD0000, #DD0000, #FF0000, #FF0000, #00AA00, #00AA00, #009900, #009900, darkgreen, darkgreen, darkgreen, darkgreen);
    background-clip: content-box;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    font-size: 3vw;
    margin-top: 5vw;
}
h2{
    text-align: center;
    font-size: 2.5vw;
}
h3{
    text-align: center;
    font-size: 2vw;
}
p{
    margin-left: 5vw;
    margin-right: 5vw;
    font-size: 1.5625vw;
    line-height: 2.1875vw;
    text-align: justify;
    text-indent: 6vw;
}
em {
    display: inline-block;
    width: 6vw;
}
.FirstChapter{
    margin-top: 5vw;
}
.SecondChapter{
    margin-top: 24vw;
}



details{
    font-family: "JetBrains";
}
summary{
    margin-left: 5vw;
    font-size: 1.5625vw;
}
.table-container {
    display: flex;
    justify-content: center;
}
table {
    margin-left: 5vw;
    margin-right: 5vw;
    border-collapse: collapse;
    table-layout: fixed;
    width: 90vw;
}
th{
    border: 0.0625vw solid #ccc;
    border-spacing: 0;
    font-size: 2vw;
    text-align: center;
}
.cell-content{
    border: 0.0625vw solid #ccc;
    border-spacing: 0;
    text-align: center;
    font-size: 1.375vw;
    display: flex;
    flex-direction: column; /* Stack children vertically */
    justify-content: space-between; /* Pushes top and bottom content to the edges */
    padding: 0.5vw;
}
.empty{
    border: none;
    width: 0px;
}
span{
    text-align: center;
    justify-content: center;
    height: 100%; /* Important to make content use full height of cell */
}
.image-container {
  align-self: center;
}

h4{
    border-top:solid 0.5vh #2ba8c2;
    margin-left: -8px;
    width: calc(100% + 16px);
    text-align: center;
    font-family: "Oswald";
    font-size: 2vw;
    height: 1vw;
}

.starticon{
    position: absolute;
    top: 5vw;
    left: 5%;
    width: 6.25vw;
    height: 6.25vw;
    z-index: 1;
}
.USSR_progression{
    position: absolute;
    top: 12.5vw;
    left: 5%;
    width: 90%;
    height: 19vw;
    z-index: 1;
}

.table1_text1_image1{
    width: auto;
    height: 12vw;
}
.table1_text1_image2{
    margin-left: 1vw;
    width: auto;
    height: 12vw;
}
.table1_text1_image3{
    width: auto;
    height: 12vw;
}
.table1_text1_image4{
    margin-left: 1vw;
    width: auto;
    height: 12vw;
}
.table1_text2_image1{
    width: auto;
    height: 12vw;
}
.table1_text2_image2{
    margin-left: 1vw;
    width: auto;
    height: 12vw;
}
.table1_text2_image3{
    width: auto;
    height: 12vw;
}
.table1_text2_image4{
    margin-left: 1vw;
    width: auto;
    height: 12vw;
}
.table1_text3_image1{
    width: auto;
    height: 12vw;
}
.table1_text3_image2{
    margin-left: 1vw;
    width: auto;
    height: 12vw;
}
.table1_text3_image3{
    width: auto;
    height: 12vw;
}
.table1_text3_image4{
    margin-left: 1vw;
    width: auto;
    height: 12vw;
}
.table1_text4_image1{
    width: auto;
    height: 12vw;
}
.table1_text4_image2{
    margin-left: 1vw;
    width: auto;
    height: 12vw;
}
.table1_text4_image3{
    width: auto;
    height: 10vw;
}
.table1_text4_image4{
    margin-left: 1vw;
    width: auto;
    height: 10vw;
}
.table1_text5_image1{
    width: auto;
    height: 12vw;
}
.table1_text5_image2{
    margin-left: 1vw;
    width: auto;
    height: 12vw;
}
.table1_text5_image3{
    width: auto;
    height: 12vw;
}
.table1_text5_image4{
    margin-left: 1vw;
    width: auto;
    height: 12vw;
}
.table1_text6_image1{
    width: auto;
    height: 12vw;
}
.table1_text6_image2{
    margin-left: 1vw;
    width: auto;
    height: 12vw;
}
.table1_text6_image3{
    width: auto;
    height: 12vw;
}
.table1_text6_image4{
    margin-left: 1vw;
    width: auto;
    height: 12vw;
}
.table2_text1_image1{
    width: auto;
    height: 12vw;
}
.table2_text1_image2{
    margin-left: 1vw;
    width: auto;
    height: 12vw;
}
.table2_text1_image3{
    width: auto;
    height: 12vw;
}
.table2_text1_image4{
    margin-left: 1vw;
    width: auto;
    height: 12vw;
}
.table2_text2_image1{
    width: auto;
    height: 11.5vw;
}
.table2_text2_image2{
    margin-left: 1vw;
    width: auto;
    height: 11.5vw;
}
.table2_text2_image3{
    width: auto;
    height: 14vw;
}
.table2_text2_image4{
    margin-left: 1vw;
    width: auto;
    height: 14vw;
}
.table2_text3_image1{
    width: auto;
    height: 12vw;
}
.table2_text3_image2{
    margin-left: 1vw;
    width: auto;
    height: 12vw;
}
.table2_text3_image3{
    width: auto;
    height: 12vw;
}
.table2_text3_image4{
    margin-left: 1vw;
    width: auto;
    height: 12vw;
}
.table2_text4_image1{
    width: auto;
    height: 18vw;
}
.table2_text4_image2{
    margin-left: 1vw;
    width: auto;
    height: 18vw;
}
.table2_text4_image3{
    width: auto;
    height: 12vw;
}
.table2_text4_image4{
    margin-left: 1vw;
    width: auto;
    height: 12vw;
}
.table3_text1_image1{
    width: auto;
    height: 12vw;
}
.table3_text1_image2{
    margin-left: 1vw;
    width: auto;
    height: 12vw;
}
.table3_text1_image3{
    width: auto;
    height: 12vw;
}
.table3_text1_image4{
    margin-left: 1vw;
    width: auto;
    height: 12vw;
}
.table3_text2_image1{
    width: auto;
    height: 11vw;
}
.table3_text2_image2{
    margin-left: 1vw;
    width: auto;
    height: 11vw;
}
.table3_text2_image3{
    width: auto;
    height: 12vw;
}
.table3_text2_image4{
    margin-left: 1vw;
    width: auto;
    height: 12vw;
}
.table3_text3_image1{
    width: auto;
    height: 12vw;
}
.table3_text3_image2{
    margin-left: 1vw;
    width: auto;
    height: 12vw;
}
.table3_text3_image3{
    width: auto;
    height: 12vw;
}
.table3_text3_image4{
    margin-left: 1vw;
    width: auto;
    height: 12vw;
}
.table4_text1_image1{
    width: auto;
    height: 9vw;
}
.table4_text1_image2{
    margin-left: 1vw;
    width: auto;
    height: 9vw;
}
.table4_text1_image3{
    width: auto;
    height: 9vw;
}
.table4_text1_image4{
    margin-left: 1vw;
    width: auto;
    height: 9vw;
}
.table4_text2_image1{
    width: auto;
    height: 11vw;
}
.table4_text2_image2{
    margin-left: 1vw;
    width: auto;
    height: 11vw;
}
.table4_text2_image3{
    width: auto;
    height: 12vw;
}
.table4_text2_image4{
    margin-left: 1vw;
    width: auto;
    height: 12vw;
}
.table4_text3_image1{
    width: auto;
    height: 13.5vw;
}
.table4_text3_image2{
    margin-left: 1vw;
    width: auto;
    height: 13.5vw;
}
.table4_text3_image3{
    width: auto;
    height: 12vw;
}
.table4_text3_image4{
    margin-left: 1vw;
    width: auto;
    height: 12vw;
}
.table5_text1_image1{
    width: auto;
    height: 12vw;
}
.table5_text1_image2{
    margin-left: 1vw;
    width: auto;
    height: 12vw;
}
.table5_text1_image3{
    width: auto;
    height: 12vw;
}
.table5_text1_image4{
    margin-left: 1vw;
    width: auto;
    height: 12vw;
}
.table5_text2_image1{
    width: auto;
    height: 15vw;
}
.table5_text2_image2{
    margin-left: 1vw;
    width: auto;
    height: 15vw;
}
.table5_text2_image3{
    width: auto;
    height: 12vw;
}
.table5_text2_image4{
    margin-left: 1vw;
    width: auto;
    height: 12vw;
}
.table5_text3_image1{
    width: auto;
    height: 12vw;
}
.table5_text3_image2{
    margin-left: 1vw;
    width: auto;
    height: 12vw;
}
.table5_text3_image3{
    width: auto;
    height: 12vw;
}
.table5_text3_image4{
    margin-left: 1vw;
    width: auto;
    height: 12vw;
}
.table6_text1_image1{
    width: auto;
    height: 11vw;
}
.table6_text1_image2{
    margin-left: 1vw;
    width: auto;
    height: 11vw;
}
.table6_text1_image3{
    width: auto;
    height: 8vw;
}
.table6_text1_image4{
    margin-left: 1vw;
    width: auto;
    height: 8vw;
}
.table6_text2_image1{
    width: auto;
    height: 12vw;
}
.table6_text2_image2{
    margin-left: 1vw;
    width: auto;
    height: 12vw;
}
.table6_text2_image3{
    width: auto;
    height: 12vw;
}
.table6_text2_image4{
    margin-left: 1vw;
    width: auto;
    height: 12vw;
}
.table6_text3_image1{
    width: auto;
    height: 14vw;
}
.table6_text3_image2{
    margin-left: 1vw;
    width: auto;
    height: 14vw;
}
.table6_text3_image3{
    width: auto;
    height: 12vw;
}
.table6_text3_image4{
    margin-left: 1vw;
    width: auto;
    height: 12vw;
}
.suggestion1_image1{
    width: auto;
    height: 22vw;
}
.suggestion1_image2{
    margin-left: 1vw;
    width: auto;
    height: 22vw;
}
.suggestion1_image3{
    margin-left: 1vw;
    width: auto;
    height: 22vw;
}
.suggestion2_image1{
    width: auto;
    height: 28vw;
}
.suggestion2_image2{
    margin-left: 1vw;
    width: auto;
    height: 28vw;
}
.suggestion3_image1{
    width: auto;
    height: 30vw;
}
.suggestion3_image2{
    margin-left: 1vw;
    width: auto;
    height: 30vw;
}

.suggestion_images{
    text-align: center;
}

@media (max-width: 767px) {
    p{
        font-size: 1.5vh;
        line-height: 2.25vh;
    }
    h2{
        font-size: 2.5vh;
    }
    h3{
        font-size: 2.1vh;
    }
    summary{
        font-size: 1.5vh;
    }
    td{
        padding: 0.5vh;
        font-size: 1.375vh;
    }
    th{
        font-size: 1.5vh;
    }
}
