@font-face {
    font-family: "Oswald";
    src: url(Oswald.woff2);
}
@font-face {
    font-family: "XTypewriter";
    src: url(XTypewriter.woff2);
}
@font-face {
    font-family: "JetBrains";
    src: url(JetBrainsMonoNL-ExtraBoldItalic.woff2);
}

html {
    scroll-padding-top: 5vw;
    scroll-behavior: smooth;
}
body{
    background-color: #f9f5e9;
    font-family: "XTypewriter";
}

.topnav {
    font-family: "Oswald";
    background-color: #333;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    margin-left: -8px;
    z-index: 999;
}
.topnavright a{
    float: left;
}
.topnavleft a{
    float: right;
    display: none;
}
.topnav a {
    color: #f2f2f2;
    text-align: center;
    padding: 0.6vw 0.8vw;
    text-decoration: none;
    font-size: 2.25vw;
}
.topnav a:hover {
    background-color: #ddd;
    color: black;
}
.topnav a.active {
    background-color: #04AA6D;
    color: white;
}

h1{
    background: linear-gradient(to right, darkred, red, red, green, green);
    background-clip: content-box;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    font-size: 3vw;
    margin-top: 6vw;
}
h2{
    text-align: center;
    font-size: 2.5vw;
}
h3{
    text-align: center;
    font-size: 2vw;
}
p{
    margin-left: 6vw;
    margin-right: 6vw;
    font-size: 1.5625vw;
    line-height: 2.1875vw;
    text-align: justify;
    text-indent: 6vw;
}
span {
    display: inline-block;
    width: 6vw;
}
.FirstChapter{
    margin-top: 5vw;
}
.SecondChapter{
    margin-top: 24vw;
}



details{
    font-family: "JetBrains";
}
summary{
    margin-left: 6vw;
    font-size: 1.5625vw;
}
.table-container {
    display: flex;
    justify-content: center;
}
table {
    margin-left: 6vw;
    margin-right: 6vw;
    border-collapse: collapse;
    table-layout: fixed;
    width: 88vw;
}
th{
    border: 0.0625vw solid #ccc;
    padding: 0.5vw;
    font-size: 2vw;
    text-align: center;
}
td{
    border: 0.0625vw solid #ccc;
    padding: 0.5vw;
    text-align: center;
    font-size: 1.375vw;
}

h4{
    border-top:solid 0.5vh #2ba8c2;
    margin-left: -8px;
    width: calc(100% + 16px);
    text-align: center;
    font-family: "Oswald";
    font-size: 2vw;
    height: 1vw;
}

.starticon{
    position: absolute;
    top: 5vw;
    left: 5%;
    width: 6.25vw;
    height: 6.25vw;
    z-index: 1;
}
.USSR_progression{
    position: absolute;
    top: 12.5vw;
    left: 5%;
    width: 90%;
    height: 19vw;
    z-index: 1;
}

.table1_text1_image1{
    width: 24vw;
    height: 12vw;
}
.table1_text1_image2{
    margin-left: 1vw;
    width: 12vw;
    height: 12vw;
}
.table1_text1_image3{
    width: 21vw;
    height: 12vw;
}
.table1_text1_image4{
    margin-left: 1vw;
    width: 16vw;
    height: 12vw;
}
.table1_text2_image1{
    width: 16vw;
    height: 12vw;
}
.table1_text2_image2{
    margin-left: 1vw;
    width: 16vw;
    height: 12vw;
}
.table1_text2_image3{
    width: 16vw;
    height: 12vw;
}
.table1_text2_image4{
    margin-left: 1vw;
    width: 16vw;
    height: 12vw;
}
.table1_text3_image1{
    width: 20vw;
    height: 12vw;
}
.table1_text3_image2{
    margin-left: 1vw;
    width: 18vw;
    height: 12vw;
}
.table1_text3_image3{
    width: 18vw;
    height: 12vw;
}
.table1_text3_image4{
    margin-left: 1vw;
    width: 18vw;
    height: 12vw;
}
.table1_text4_image1{
    width: 18vw;
    height: 12vw;
}
.table1_text4_image2{
    margin-left: 1vw;
    width: 15vw;
    height: 12vw;
}
.table1_text4_image3{
    width: 16vw;
    height: 10vw;
}
.table1_text4_image4{
    margin-left: 1vw;
    width: 20vw;
    height: 10vw;
}
.table1_text5_image1{
    width: 20vw;
    height: 12vw;
}
.table1_text5_image2{
    margin-left: 1vw;
    width: 18vw;
    height: 12vw;
}
.table1_text5_image3{
    width: 18vw;
    height: 12vw;
}
.table1_text5_image4{
    margin-left: 1vw;
    width: 18vw;
    height: 12vw;
}
.table1_text6_image1{
    width: 16vw;
    height: 12vw;
}
.table1_text6_image2{
    margin-left: 1vw;
    width: 15vw;
    height: 12vw;
}
.table1_text6_image3{
    width: 20vw;
    height: 12vw;
}
.table1_text6_image4{
    margin-left: 1vw;
    width: 16vw;
    height: 12vw;
}
.table2_text1_image1{
    width: 18vw;
    height: 12vw;
}
.table2_text1_image2{
    margin-left: 1vw;
    width: 18vw;
    height: 12vw;
}
.table2_text1_image3{
    width: 18vw;
    height: 12vw;
}
.table2_text1_image4{
    margin-left: 1vw;
    width: 18vw;
    height: 12vw;
}
.table2_text2_image1{
    width: 18vw;
    height: 12vw;
}
.table2_text2_image2{
    margin-left: 1vw;
    width: 19.2vw;
    height: 12vw;
}
.table2_text2_image3{
    width: 14vw;
    height: 14vw;
}
.table2_text2_image4{
    margin-left: 1vw;
    width: 21vw;
    height: 14vw;
}
.table2_text3_image1{
    width: 15vw;
    height: 12vw;
}
.table2_text3_image2{
    margin-left: 1vw;
    width: 18vw;
    height: 12vw;
}
.table2_text3_image3{
    width: 14vw;
    height: 12vw;
}
.table2_text3_image4{
    margin-left: 1vw;
    width: 22.5vw;
    height: 12vw;
}
.table2_text4_image1{
    width: 22.5vw;
    height: 18vw;
}
.table2_text4_image2{
    margin-left: 1vw;
    width: 12vw;
    height: 18vw;
}
.table2_text4_image3{
    width: 18vw;
    height: 12vw;
}
.table2_text4_image4{
    margin-left: 1vw;
    width: 18vw;
    height: 12vw;
}
.table3_text1_image1{
    width: 18vw;
    height: 12vw;
}
.table3_text1_image2{
    margin-left: 1vw;
    width: 18vw;
    height: 12vw;
}
.table3_text1_image3{
    width: 18vw;
    height: 12vw;
}
.table3_text1_image4{
    margin-left: 1vw;
    width: 18vw;
    height: 12vw;
}
.table3_text2_image1{
    width: 19vw;
    height: 11vw;
}
.table3_text2_image2{
    margin-left: 1vw;
    width: 17vw;
    height: 11vw;
}
.table3_text2_image3{
    width: 18vw;
    height: 12vw;
}
.table3_text2_image4{
    margin-left: 1vw;
    width: 19.5vw;
    height: 12vw;
}
.table3_text3_image1{
    width: 16vw;
    height: 12w;
}
.table3_text3_image2{
    margin-left: 1vw;
    width: 16vw;
    height: 12vw;
}
.table3_text3_image3{
    width: 16.8vw;
    height: 12vw;
}
.table3_text3_image4{
    margin-left: 1vw;
    width: 18vw;
    height: 12vw;
}
.table4_text1_image1{
    width: 20.5vw;
    height: 9vw;
}
.table4_text1_image2{
    margin-left: 1vw;
    width: 11.25vw;
    height: 9vw;
}
.table4_text1_image3{
    width: 13.5vw;
    height: 9vw;
}
.table4_text1_image4{
    margin-left: 1vw;
    width: 16vw;
    height: 9vw;
}
.table4_text2_image1{
    width: 16vw;
    height: 12vw;
}
.table4_text2_image2{
    margin-left: 1vw;
    width: 21vw;
    height: 12vw;
}
.table4_text2_image3{
    width: 13vw;
    height: 12vw;
}
.table4_text2_image4{
    margin-left: 1vw;
    width: 18vw;
    height: 12vw;
}
.table4_text3_image1{
    width: 18vw;
    height: 13.5vw;
}
.table4_text3_image2{
    margin-left: 1vw;
    width: 18vw;
    height: 13.5vw;
}
.table4_text3_image3{
    width: 18vw;
    height: 12vw;
}
.table4_text3_image4{
    margin-left: 1vw;
    width: 16vw;
    height: 12vw;
}
.table5_text1_image1{
    width: 18vw;
    height: 12vw;
}
.table5_text1_image2{
    margin-left: 1vw;
    width: 16vw;
    height: 12vw;
}
.table5_text1_image3{
    width: 16vw;
    height: 12vw;
}
.table5_text1_image4{
    margin-left: 1vw;
    width: 16vw;
    height: 12vw;
}
.table5_text2_image1{
    width: 13vw;
    height: 15vw;
}
.table5_text2_image2{
    margin-left: 1vw;
    width: 20vw;
    height: 15vw;
}
.table5_text2_image3{
    width: 23vw;
    height: 12vw;
}
.table5_text2_image4{
    margin-left: 1vw;
    width: 9vw;
    height: 12vw;
}
.table5_text3_image1{
    width: 16vw;
    height: 12vw;
}
.table5_text3_image2{
    margin-left: 1vw;
    width: 16vw;
    height: 12vw;
}
.table5_text3_image3{
    width: 18vw;
    height: 12vw;
}
.table5_text3_image4{
    margin-left: 1vw;
    width: 18vw;
    height: 12vw;
}
.table6_text1_image1{
    width: 19.5vw;
    height: 11vw;
}
.table6_text1_image2{
    margin-left: 1vw;
    width: 16vw;
    height: 11vw;
}
.table6_text1_image3{
    width: 16vw;
    height: 8vw;
}
.table6_text1_image4{
    margin-left: 1vw;
    width: 19vw;
    height: 8vw;
}
.table6_text2_image1{
    width: 19vw;
    height: 12vw;
}
.table6_text2_image2{
    margin-left: 1vw;
    width: 19.5vw;
    height: 12vw;
}
.table6_text2_image3{
    width: 16vw;
    height: 12vw;
}
.table6_text2_image4{
    margin-left: 1vw;
    width: 18vw;
    height: 12vw;
}
.table6_text3_image1{
    width: 21vw;
    height: 14vw;
}
.table6_text3_image2{
    margin-left: 1vw;
    width: 14vw;
    height: 14vw;
}
.table6_text3_image3{
    width: 18vw;
    height: 12vw;
}
.table6_text3_image4{
    margin-left: 1vw;
    width: 16vw;
    height: 12vw;
}
.suggestion1_image1{
    width: 16.5vw;
    height: 22vw;
}
.suggestion1_image2{
    margin-left: 1vw;
    width: 44vw;
    height: 22vw;
}
.suggestion1_image3{
    margin-left: 1vw;
    width: 22vw;
    height: 22vw;
}
.suggestion2_image1{
    width: 28vw;
    height: 21vw;
}
.suggestion2_image2{
    margin-left: 1vw;
    width: 28vw;
    height: 21vw;
}
.suggestion2_image3{
    margin-left: 1vw;
    width: 28vw;
    height: 21vw;
}
.suggestion3_image1{
    width: 42vw;
    height: 28vw;
}
.suggestion3_image2{
    margin-left: 1vw;
    width: 42vw;
    height: 28vw;
}
.suggestion4_image1{
    width: 40vw;
    height: 30vw;
}
.suggestion4_image2{
    margin-left: 1vw;
    width: 40vw;
    height: 30vw;
}

.suggestion_images{
    text-align: center;
}

@media (max-width: 767px) {
    p{
        font-size: 1.5vh;
        line-height: 2.25vh;
    }
    h2{
        font-size: 2.5vh;
    }
    h3{
        font-size: 2.1vh;
    }
    summary{
        font-size: 1.5vh;
    }
    td{
        padding: 0.5vh;
        font-size: 1.375vh;
    }
    th{
        font-size: 1.5vh;
    }
}
