html {
  scroll-padding-top: 5vw; /* same as header height */
  scroll-behavior: smooth;
}
@font-face {
    font-family: "XTypewriter-Regular";
    src: url(XTypewriter-Regular.otf);
}
@font-face {
    font-family: "JetBrainsMonoNL-SemiBoldItalic";
    src: url(JetBrainsMonoNL-SemiBoldItalic.ttf);
}
@font-face {
    font-family: "JetBrainsMono-ExtraBoldItalic";
    src: url(JetBrainsMonoNL-ExtraBoldItalic.ttf);
}
@font-face {
    font-family: "Oswald";
    src: url(Oswald.ttf);
}
body{
    background-color: #f9f5e9;
    font-family: "XTypewriter-Regular";
}
.topnav {
    font-family: "Oswald";
    background-color: #333;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    margin-left: -8px;
    z-index: 999;
}
.topnavright a{
    float: left;
}
.topnavleft a{
    float: right;
}
.topnav a {
    color: #f2f2f2;
    text-align: center;
    padding: 0.6vw 0.8vw;
    text-decoration: none;
    font-size: 2.25vw;
}
.topnav a:hover {
    background-color: #ddd;
    color: black;
}
.topnav a.active {
    background-color: #04AA6D;
    color: white;
}
.FirstChapter{
    margin-top: 5vw;
}
h2{
    text-align: center;
    font-size: 2.5vw;
}
p{
    margin-left: 6vw;
    margin-right: 6vw;
    font-size: 1.5625vw;
    line-height: 2.1875vw;
    text-align: justify;
    text-indent: 6vw;
}
.table-container {
  display: flex;
  justify-content: center; /* Centers the table horizontally */
}
table {
    margin-left: 6vw;
    margin-right: 6vw;
    border-collapse: collapse;
    width: auto; /* Adjust as needed, or remove for content-based width */
}
th {
    border: 0.0625vw solid #ccc;
    padding: 0.5vw;
    text-align: left; /* Adjust text alignment within cells as desired */
    font-family: "JetBrainsMono-ExtraBoldItalic";
}
summary{
    margin-left: 6vw;
    font-size: 1.5625vw;
}
/*
.leftimage1{
    position: absolute;
    top: 650px;
    left: 8px;
    width: 225px;
    height: 400px;
    z-index: 1;
}
.rightimage1{
    position: absolute;
    top: 650px;
    right: 8px;
    width: 225px;
    height: 400px;
    z-index: 1;
}
bad idea, retired*/
.table-text_with_image{
    display: grid;
}
td{
    border: 0.0625vw solid #ccc;
    padding: 0.5vw;
    text-align: left; /* Adjust text alignment within cells as desired */
    font-size: 1.375vw;
}
th{
    font-size: 1.5625vw;
    text-align: center;
}
.starticon{
    position: absolute;
    top: 5vw;
    left: 5%;
    width: 6.25vw;
    height: 6.25vw;
    z-index: 1;
}
.USSR_progression{
    position: absolute;
    top: 12.5vw;
    left: 5%;
    width: 90%;
    height: 19vw;
    z-index: 1;
}
.SecondChapter{
    margin-top: 24vw;
}
h1{
    background: linear-gradient(to right, darkred, red, red, green, green); /* Define your gradient colors and direction */
    background-clip: content-box;
    -moz-background-clip: text;
    -webkit-background-clip: text; /* Clip the background to the shape of the text */
    -webkit-text-fill-color: transparent;
    text-align: center;
    font-size: 5vw;
    margin-top: 5vw;
}
details{
    font-family: "JetBrainsMonoNL-SemiBoldItalic";
}
h3{
    text-align: center;
    font-size: 2vw;
}
@media (max-width: 767px) {
    p{
        font-size: 1.5vh;
        line-height: 2.25vh;
    }
    h2{
        font-size: 2.4vh;
    }
    h3{
        font-size: 2.1vh;
    }
    summary{
        font-size: 1.5vh;
    }
}
